.navbar {
    display: flex;
    gap: 20px;
    background: #2563EB;
    padding: 10px;
    border-radius: 8PX;
  }
  
  .navbar a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 108px;
    font-weight: 800;
    
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  